* {
	padding: 0;
	margin: 0;
}
.infoname {
	display: flex;
	flex-direction: row;
}
.infoname > p {
	margin: 19px;
}
.studentname {
	border: solid 1px black;
	width: 300px;
	height: 30px;
	margin-left: 16px;
}
.markscontainer {
	border: solid 1px black;
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
}
.markscontainer input {
	background-color: rgba(0, 0, 0, 0);
}
.containerStudentInfo {
	display: flex;
}

.block {
	width: 45px;
	height: 29px;
	border: solid 1px black;
}
.container {
	display: flex;
	flex-direction: column;
}
::-webkit-scrollbar {
	width: 0;
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	/* Для некоторых версий Safari */
	-webkit-user-select: none;
	/* Для некоторых версий Firefox */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
